* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100%;
    background: #eff9f2;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container h1 {
    font-size: 2rem;
    padding: 10px;
    color: #006a71;
}

.container h2 {
    font-family: 'belgrano', sans serif;
    font-size: 1.2rem;
    color: #03674f;
    padding: 10px 0;
}

.container h4 {
    font-family: 'belgrano', sans serif;
    color: #065446;
    padding: 5px 0;
}

.container ul {
    list-style: none;
}

.rede-social {
    display: flex;
    justify-content: center;
}

.rede-social .midias {
    width: 2.3rem;
}

.rede-social  li {
    padding: 5px 10px;

}

@media (min-width: 900px) {

    body {
        background: #065446;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 60%;
        
    }

}